<header>
    <div>
        <a routerLink="/" class="title"> Angular Homeworks</a>
    </div>
    <div class="flex-container push">
        <a routerLink="/home"  routerLinkActive="active-link"> Home </a>
        <a routerLink="/users" routerLinkActive="active-link"> Users </a>
        <a routerLink="/todos" routerLinkActive="active-link"> ToDos </a>
        <a routerLink="/login" routerLinkActive="active-link"> Login </a>
        <a routerLink="/registeration" routerLinkActive="active-link"> Registeration </a>
    </div>
    
</header>