/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.container h1,h2,h3 {
    text-align: center;
}

.user-row {
    position: relative;
    border: 1px solid #787272;
    padding: 10px;
    margin-bottom: 10px;
}
.todo-container {
    position: relative;
    width:80%;
    margin: auto;
    /* border: 1px solid #787272; */
    padding: 10px 12px;
    margin-bottom: 10px;
}
.todo-row {
    position: relative;
    border: 1px solid #403c3c;
    padding: 10px;
    margin-bottom: 10px;
}

.active-link {
    border-bottom: 2px solid black;
}