/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: 0;
}

.invalid-control{
    border: 2px solid red;
}

.container {
    position: relative;
    width: 90%;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.container h1,h2,h3 {
    text-align: center;
}

.user-row {
    position: relative;
    border: 1px solid #787272;
    padding: 10px;
    margin-bottom: 10px;
}
.todo-container {
    position: relative;
    width:80%;
    margin: auto;
    /* border: 1px solid #787272; */
    padding: 10px 12px;
    margin-bottom: 10px;
}
.todo-row {
    position: relative;
    border: 1px solid #403c3c;
    padding: 10px;
    margin-bottom: 10px;
}

.active-link {
    border-bottom: 2px solid black;
}

form {
    position: relative;
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.form-control input {
    position: relative;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 12px;
    border-radius: 10px;
    width: 220px;
}

button {
    padding: 8px 20px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    outline: 0;
    width: 240px;
    cursor: pointer;
}